{% extends "base.html" %}


{% block logs_list %}

<div>
    <button id=hideshowbutton type="button" class="btn btn-success" onclick="hideshowDiv()">Show Logs</button>
</div>
<div id="logs_list" class="container text-center" style="display: none;">
      <div class="row">
        <div class="col">
    {%for i in log_list%}
        <a href="?date={{i}}"><button type="button" class="btn btn-outline-success">{{ i.replace('.log', ('')) }}</button></a>
    {%endfor%}
    </div>
    </div>
</div>
{% endblock %}


{% block log %}

    <h2>{{ date.replace('.log', ('')) }}</h2>
    <div id="logviewer" class="overflow-scroll" style="max-width: 100%; max-height: 75dvb;">
        {%for i in log%}
            <p id="logtext">{{ i }}</p>
        {%endfor%}
    </div>

{% endblock %}


{% block script %}
<script>
window.onload = function() {
  scrollheight("logviewer");
};
</script>
{% endblock %}