{% extends "base.html" %}

{% block nav %}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
        <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            MC Log Web Viewer
        </a>
        <button id=hideshowbutton type="button" class="btn btn-outline-success" onclick="hideshowDiv()">Select Log</button>
    </div>
</nav>
{% endblock %}