/* Base */
html#base {
    max-height: 100%;
}


/*nav */
div#nav-left{
    position:sticky; 
    left:100%;
    float:left;
    margin-right:5px;
}


/* logs_list */
div#logs_list{
text-align: center;
max-width: max-content;
margin: 0 auto;
}

li#li_logs_list {
  display: inline;
}



/* logviwer */
h2#logtitle {
    font-family: 'Minecraft', sans-serif;
    margin-left:1%;
}


div#logviewer{
    background-color: black;
    color: white;
    overflow-x:visible;
    overflow-y:visible;
    border-style: groove;
    border-radius: 5px;
    border-color: white;
}


p#logtext {
    font-family: 'Ariel';
    font-size: 13px;
    line-height: 13px;
}
