html#base {
    max-height: 100%;
}

button#hideshowbutton{
    position:sticky; 
    left:100%;
}

div#logviewer{
    background-color: black;
    color: white;
    overflow-x:hidden;
    overflow-y:visible;
    margin-bottom: 10%;
    border-style: groove;
    border-radius: 5px;
    border-color: white;
}


p#logtext {
    font-family: 'Ariel';
    font-size: 13px;
    line-height: 13px;
}
